body {
  margin: 0;
  font-family: -apple-system, "Segoe UI", "Roboto", "Cantarell", "Fira Sans";
  min-width: 580px;
  min-height: 580px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
